<section class="todoapp">
    <header class="header">
        <h1>todos</h1>
        <input class="new-todo" placeholder="what need to be done?" #todo [(ngModel)]="newTodo"
            (keyup.enter)="add(todo.value)" />
    </header>
    <section class="main" style="display: block;">
        <input id="toggle-all" #inputToggleAll class="toggle-all" type="checkbox"
        [checked]="allCompleted"
        (change)="toggleAll(todos, inputToggleAll.checked)" />
        <label for="toggle-all"></label>
        <ul class="todo-list">
            <li *ngFor="let todo of todos$ | async">
                <div class="view" *ngIf="todo.id !== (currentTodo || {}).id" [class.completed]="todo.completed">
                    <input type="checkbox" class="toggle" [checked]="todo.completed" (change)="toggle(todo)" />
                    <label (dblclick)="editTodo(todo)">{{ todo.name }}</label>
                    <button class="destroy" (click)="remove(todo)"></button>
                </div>
                <input class="edit" *ngIf="todo.id === (currentTodo || {}).id" [(ngModel)]="currentTodo.name"
                    (keyup.esc)="cancelEdit()" (keyup.enter)="update(currentTodo)" autofocus />
            </li>
        </ul>
    </section>
    <!-- for test -->
    <app-pagination [pagination]="pagination" (pageChange)="goToPage($event)"></app-pagination>
    <footer *ngIf="summary.totalCount > 0" class="footer">
        <span class="todo-count"><strong>{{ summary.remaining }}</strong> item{{ summary.remaining > 1 ? 's' : '' }} left</span>
        <ul class="filters">
            <li><a [routerLink]="['/']">All</a></li>
            <li><a [routerLink]="['/active']">Active</a></li>
            <li><a [routerLink]="['/completed']">Completed</a></li>
        </ul>
        <button class="clear-complted" *ngIf="summary.compltedCount > 0" (click)="clearCompleted()">Clear completed</button>
    </footer>
</section>