<section class="todoapp">
    <header class="header">
        <h1>todos</h1>
        <input class="new-todo" placeholder="what need to be done?" [(ngModel)]="newTodo"
            (keyup.enter)="add(newTodo)" />
    </header>
    <section class="main" style="display: block;">
        <input id="toggle-all" class="toggle-all" type="checkbox" />
        <label for="toggle-all"></label>
        <ul class="todo-list">
            <li *ngFor="let todo of todos">
                <app-todo [todo]="todo"></app-todo>
            </li>
        </ul>
    </section>
    <footer *ngIf="todos.length > 0" class="footer">
        <span class="todo-count"><strong>{{ remaining }}</strong> item{{ remaining > 1 ? 's' : '' }} left</span>
        <ul class="filters">
            <li><a [routerLink]="['/']">All</a></li>
            <li><a [routerLink]="['/active']">Active</a></li>
            <li><a [routerLink]="['/complted']">Completed</a></li>
        </ul>
    </footer>
</section>