@use '../../colors.scss' as colors;
@use 'sass:color' as color;

.pagination {
    border-top: 1px solid #e6e6e6;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 16px 10px;

    ul {
        list-style: none;

        li {
            display: inline-block;
        }
    }
}

.page-list {
    text-align: center;
    position: absolute;
    left: 0;
    top: 15px;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
        margin: 0px 6px;
        // padding: 0px 6px;
        width: 24px;
        height: 24px;
        line-height: 1.7;
        text-align: center;
        border: 1px solid #eee;
        border-radius: 5px;
        cursor: pointer;

        &.active {
            background-color: color.adjust(colors.$gray, $alpha: -0.5);
            color: black;
            font-weight: bold;
        }
    }
}

.page-btn {
    position: absolute;
    cursor: pointer;
    line-height: 1.5;
    font-weight: bold;
    top: 15px;
    color: colors.$gray;

    &:hover {
        color: black;
    }
}

.prev-page {
    float: left;
    text-align: left;
    left: 16px;

    &::before {
        content: "<";
    }
}

.next-page {
    float: right;
    text-align: right;
    right: 16px;

    &::before {
        content: ">";
    }
}
